mixin restaurantForm(restaurant = {})
    form(action=`/add/${restaurant._id || ''}` method="POST" class="card" enctype="multipart/form-data")
        label(for="name") Name
        input(type="text" name="name" value=restaurant.name)
        //- Image upload
        label(for="photo") Photo
            input(type="file" name="photo" id="photo" accept="image/gif, image/png, image/jpeg")
            if restaurant.photo
                img(src=`/uploads/${restaurant.photo}`, alt=restaurant.name width=200)

        //- Address, longitude, latitude
        label(for="address") Address
        input(type="text" id="address" name="location[address]" value=(restaurant.location && restaurant.location.address))
        label(for="lng") Address Longitude
        input(type="text" id='lng' name ="location[coordinates][0]" value=(restaurant.location && restaurant.location.coordinates[0]) required)
        label(for="lat") Address Latitude
        input(type="text" id='lat' name ="location[coordinates][1]" value=(restaurant.location && restaurant.location.coordinates[1]) required)

        //- Contact and description
        label(for="contact") Contact
        input(type="text" id="contact" name="[contact]" value=(restaurant.contact))
        label(for = "description") Description

        //- Tags and types of restaurants
        textarea(name="description")= restaurant.description
        - const choices = ['Wifi', 'Open Late', 'Dine-in', 'Delivery', 'Takeout', 'Family Friendly']
        - const categories = ['Italian', 'Vegan', 'Greek', 'Indian', 'Chinese', 'Mexican', 'Thai', 'Japanese', 'Vietnamese', 'French', 'Spanish', 'Mediterranean']
        - const tags1 = restaurant.tags || []
        - const tags2 = restaurant.categories || []

        ul.tags
            each choice in choices
                .tag.tag__choice
                    input(type="checkbox" id=choice value=choice name="tags" checked=(tags1.includes(choice)))
                    label(for=choice) #{choice}
        ul.tags
            each category in categories
                .tag.tag__choice
                    input(type="checkbox" id=category value=category name="categories" checked=(tags2.includes(category)))
                    label(for=category) #{category}
        input(type='submit' value="Submit" class="button")
    
        //- TODO: Add reviews section.
        //- Address, Phone Number, Hours

