mixin restaurantForm(restaurant = {})
    form(action=`/add/${restaurant._id || ''}` method="POST" class="card")
        label(for="name") Name
        input(type="text" name="name" value=restaurant.name)
        label(for="address") Address
        input(type="text" id="address" name="location[address]" value=(restaurant.location && restaurant.location.address))
        label(for "longitude") Address Longitude
        input(type="text" id='longitude' name ="location[coordinates][0]" value=(restaurant.location && restaurant.location.coordinates[0]) required)
        label(for "latitude") Address Latitude
        input(type="text" id='latitude' name ="location[coordinates][1]" value=(restaurant.location && restaurant.location.coordinates[1]) required)
        label(for="contact") Contact
        input(type="text" id="contact" name="[contact]" value=(restaurant.contact))
        label(for = "description") Description
        textarea(name="description")= restaurant.description
        - const choices = ['Wifi', 'Open 24/7', 'Dine-in', 'Delivery', 'Takeout', 'Family Friendly']
        - const categories = ['Italian', 'Vegan', 'Greek', 'Indian', 'Chinese', 'Mexican', 'Thai', 'Japanese', 'Vietnamese', 'French', 'Spanish', 'Mediterranean']
        - const tags1 = restaurant.tags || []
        - const tags2 = restaurant.categories || []

        ul.tags
            each choice in choices
                .tag.tag__choice
                    input(type="checkbox" id=choice value=choice name="tags" checked=(tags1.includes(choice)))
                    label(for=choice) #{choice}
        ul.tags
            each category in categories
                .tag.tag__choice
                    input(type="checkbox" id=category value=category name="categories" checked=(tags2.includes(category)))
                    label(for=category) #{category}
        input(type='submit' value="Submit" class="button")
    
        //- TODO: Add reviews section.
        //- Address, Phone Number, Hours

