mixin restaurantCard(restaurant = {})
    .restaurant
        .restaurant__hero
            .restaurant__actions
                .restaurant__actions.restaurant__actions--edit
                    a(href=`/restaurants/${restaurant._id}/edit`)
                        != h.icon('pencil')
            img(src=`/uploads/${restaurant.photo || 'restaurant.png'}`)
            h2.title
                a(href=`/restaurants/${restaurant.slug}?id=${restaurant._id}`) #{restaurant.name}
        .restaurant__details
            //- in case the restaurant has really long description.
            p= restaurant.description.split(' ').slice(0, 25).join(' ') 